body {
    background:antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 18%;
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background: burlywood;
}

.assignment img {
    width: 200px;
    padding: 10px;
    border: 2px solid goldenrod;
    display: block;
    margin: auto;
}

h1 {
    color: goldenrod;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
